
@font-face {
    font-family: "rNormal";
    src:url("font/Rajdhani-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "rBold";
    src:url("font/Rajdhani-Bold.ttf") format("truetype");
}
.tabordion {
  color: #333;
  display: block;
  font-family: rNormal;
  margin: auto;
  position: relative;
  width: 80%;
  margin-top: 5%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-family: rBold;
  color: #566573;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion section article:after {
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 
  border-left-color: #8a7196;
    border-left-style: solid;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}

