
@font-face {
    font-family: "rNormal";
    src:url("font/Rajdhani-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "rBold";
    src:url("font/Rajdhani-Bold.ttf") format("truetype");
}



.accordion {
  background-color: #eee;
  color: #566573;
  font-family: rBold;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  left: 5%;
  right: 5%;
}

.active, .accordion:hover {
  background-color: #ABB2B9;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0px 18px; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
  margin-left: 10%
}

.panel p{
   
  font-size: 23px;
  color: #566573;
  margin-left: 20%;
}

.panel h1{
  font-family: rNormal;
font-size: 25px;
color: #566573;
}

.panel h2{
  font-family: rBold;
  font-size: 20px;
  color: #566573;
}

.panel img{
  padding-top: 10px;
  padding-bottom: 10px
  
 }